* {
    margin: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    font-family: var(--font-family);
    width: 1200px;
    min-width: 100%;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}
.video {
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}